// Here i'll import all my fonts

@font-face {
    font-family: 'Chocolate-light';
    src: url('../../assets/fonts/tt_chocolates_light.otf');
    // src: url('../../assets/fonts/tt_chocolates_light.ttf'); If needed, if I have the file.
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chocolate';
    src: url('../../assets/fonts/tt_chocolates_regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chocolate-medium';
    src: url('../../assets/fonts/tt_chocolates_medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chocolate-bold';
    src: url('../../assets/fonts/tt_chocolates_bold.otf');
    font-weight: 600;
    font-style: normal;
}
