// Some responsive. Everything is fluid so this part is near to be empty.
@media (max-width: 768px) {
    h2{ text-align: center; }
    .store_content > .container.hide{
        display: none;
    }
}
@media (min-width: 768px) {
    .store_content .add_articles{ max-width: 500px; }
    .return_bar > *:not(h2){ display: none; }
}
