// Here i'll apply some global styles that don't really fit in components

p, span, input{ font-family: 'Chocolate'; }
h1, h2{ font-family: 'Chocolate-bold'; }
p.centered{ text-align: center; }

body{ background-color: $gris_1};
.bg_white{ background-color: $white}
.px_2{ padding-left: 20px; padding-right: 20px; }
.pt_0{ padding-bottom: 10px; }

.store_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > *{ width: 100%; margin: 10px; border-radius: 5px; }
    & .total_price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & p{ font-size: 18px; font-family: 'Chocolate-medium'; }
    }
}
