<!DOCTYPE html>
<html lang="">
<head>
    <!-- Hi ! :) Thanks for your time ! -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <title>Allovoisins - Facilitateur de projets></title>
    <meta name="description" content="Services entre particuliers et Location de matériel proche de chez vous. Vous avez besoin d'un service à la personne ? D'un coup de main ? Demandez à vos Voisins">

    <!-- Fontawesome for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
</html>
