// The bar's style
.select_system{
    & > div:last-child .bar{ border-bottom: none; }
    & .bar{
        background-color: #FFFFFF;
        border-bottom: 1px solid $gris_2;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        & > *{
            transition: .3s ease;
            transform: translateX(0px);
        }
        &.is_delete_active > *{
            transform: translateX(-110px);
        }
        & .bar_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 2px 4px;
            font-size: 18px;
        }
        & .delete_button{
            position: absolute;
            width: 90px;
            right: -110px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: $red;
            color: $white;
            padding: 4px;
            margin-left: 10px;
            & p{ margin: 0; }
        }
    }
}

.return_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    & h2{ width: 100%; }
    & > *:not(h2) > *{
        font-size: 20px;
        height: 100%;
        width: 20px;
    }
}
