// The button's styles
.button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    &.btn_orange p{
        color: $white;
        background-color: $orange;
        font-size: 18px;
        padding: 15px 50px;
        border-radius: 100px;
        transition: .3s ease;
    }
    &.btn_orange p:hover{ background-color: $orange_darken; }
    &.disabled{
        cursor: default;
        pointer-events: none;
    }
    &.btn_orange.disabled p{ background-color: $orange_lighten; }
    &.add_article{
        position: sticky;
        bottom: 0;
        &::after{
            content: '';
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $white;
        }
    }
}
