// The input's style

.input_bloc{
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    &:not(:first-child) input{ text-align: right; }
    & input{
        border: 1px solid $gris_2;
        border-radius: 5px;
        font-size: 18px;
        padding: 16px;
        padding-right: 50px;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        z-index: 1;
        &::placeholder{ color: $gris_2; }
    }
    & p{
        position: absolute;
        top: 0;
        margin: 0;
        transform: translateX(15px) translateY(-50%);
        background-color: $white;
        padding: 0 2px;
        font-family: 'Chocolate-light';
        z-index: 2;
    }
    & i{
        background-color: $gris_1;
        position: absolute;
        width: 40px;
        height: 100%;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
    }
}
