// Yeah, I know that there isn't some logo in the test. But well.. :)
.logo{
    width: 100%;
    margin: 20px 0;
    & img{
        display: block;
        margin: auto;
        width: 70%;
        max-width: 300px;
    }
}
