<template>
    <section class="store_content">
        <!-- First container, with the bars -->
        <div class="container articles bg_white px_2 pt_1" :class="[ item_selected !== -1 ? 'hide': '' ]">
            <div class="return_bar">
                <i class="fas fa-chevron-left"></i>
                <h2>Mes articles</h2>
            </div>
            <section class="select_system">
                <div v-for="item in items" :key="item.id">
                    <!-- Each Bar is in a component -->
                    <Bar :bar_item="item" :bar_item_index="item.id" @select_item="select_item" @delete_item="delete_item" @trigger_delete="trigger_delete"/>
                </div>
            </section>
            <v-touch class="add_article button btn_orange" @tap="add_item">
                <p>Ajouter un article</p>
            </v-touch>
        </div>
        <div class="container add_articles bg_white px_2 pt_1" :class="[ item_selected == -1 ? 'hide': '' ]">
            <div class="return_bar">
                <v-touch @tap="deselect_item">
                    <i class="fas fa-chevron-left"></i>
                </v-touch>
                <h2>Éditer un article</h2>
                <i class="far fa-trash-alt"></i>
            </div>
            <section class="edit_system">
                <Edit_article :item_to_edit="items[item_selected]" :item_selected_index="item_selected" @edit_item="edit_item" @store_item="store_item"></Edit_article>
            </section>
        </div>
    </section>
</template>

<script>
import Bar from '../components/Bar.vue';
import Edit_article from '../components/Edit_article.vue';

export default {
    name: 'Store',
    components: {
        Bar,
        Edit_article
    },
    data: () => ({
        // The selected Item.
        item_selected: -1,
        edit_state: false,
        // These should be an axios function, for exemple. I don't really like Vuex so I often don't use it.
        items: [
            {
                delete_state: false,
                id: 0,
                values: {
                    name: 'Achat de matériel',
                    price: 50.00,
                    tva: 30.00,
                }
            },
            {
                delete_state: false,
                id: 1,
                values: {
                    name: 'Dépose des murs',
                    price: 40.30,
                    tva: 23.00,
                }
            },
            {
                delete_state: false,
                id: 2,
                values: {
                    name: 'Dépose des radiateurs',
                    price: 40.00,
                    tva: 12.00,
                }
            },
            {
                delete_state: false,
                id: 3,
                values: {
                    name: 'Dépose des sols',
                    price: 60.99,
                    tva: 45.00,
                }
            },
            {
                delete_state: false,
                id: 4,
                values: {
                    name: 'Remplacement sanitaire',
                    price: 100,
                    tva: 20.00,
                }
            },
            {
                delete_state: false,
                id: 5,
                values: {
                    name: 'Pose meuble vasque',
                    price: 35.00,
                    tva: 3.00,
                }
            },
        ],
    }),
    methods: {
        // The functions I've used to store datas
        // Trigger the next item 'maybe' pushed
        add_item: function(){
            this.edit_state = false;
            this.select_item(this.items.length + 1);
        },
        // Select an item
        select_item: function(i){
            this.item_selected = i;
        },
        // Deselect an item
        deselect_item: function(i){
            this.item_selected = -1;
            this.all_states_are_off(i);
        },
        // Edit an item
        edit_item: function(value){
            this.edit_state = true;
            this.items[this.item_selected] = value;
            this.deselect_item();
        },
        // Store a new item
        store_item: function(value){
            this.items.push(value);
            this.deselect_item();
        },
        // Trigger delete state
        trigger_delete: function(i){
            this.items[i].delete_state = true;
            this.all_states_are_off(i);
        },
        // Delete an item who delete state is active
        delete_item: function(i){
            this.items.splice(i, 1);
            this.deselect_item();
        },
        // All delete states will be off
        all_states_are_off: function(j){
            for (var i = 0; i < this.items.length; i++) {
                if (j !== i) {
                    this.items[i].delete_state = false;
                }
            }
        }
    }
}
</script>
