<template>
    <div>
        <!-- V-Touch is a library that I use to extend the native VueJS touch events -->
        <v-touch class="store_item bar" @swipeleft="trigger_delete" :class="[ bar_item.delete_state ? 'is_delete_active': '' ]">
            <v-touch class="bar_item" @tap="select_this_item">
                <p>{{ bar_item.values.name }}</p>
                <i class="fas fa-chevron-right"></i>
            </v-touch>
            <v-touch class="delete_button" @tap="delete_item">
                <i class="far fa-trash-alt"></i>
                <p>Supprimer</p>
            </v-touch>
        </v-touch>
    </div>
</template>

<script>
export default {
    name: 'Bar',
    props: [ 'bar_item', 'bar_item_index' ],
    methods: {
        // I'll use some Emit to send the data to the Bar's component parent
        select_this_item: function() {
            this.$emit('select_item', this.bar_item_index)
        },
        trigger_delete: function(){
            this.$emit('trigger_delete', this.bar_item_index)
        },
        close_delete: function(){
            this.$emit('close_delete', this.bar_item_index)
        },
        delete_item: function(){
            this.$emit('delete_item', this.bar_item_index)
        }
    }
}
</script>
