<template>
    <div>
        <div class="input_bloc">
            <p>Nom de l'article</p>
            <input id="edit_name" type="text" placeholder="Nom de l'article" v-model="new_name">
        </div>
        <div class="input_bloc">
            <p>Prix unitaire HT</p>
            <input id="edit_price" type="number" placeholder="Prix unitaire HT" v-model="new_price">
            <i class="fas fa-euro-sign"></i>
        </div>
        <div class="input_bloc">
            <p>TVA en %</p>
            <input id="edit_tva" type="number" placeholder="TVA en %" v-model="new_tva">
            <i class="fas fa-percent"></i>
        </div>
        <div class="total_price">
            <p>Prix total TTC</p>
            <p>{{ total_price }} €</p>
        </div>
        <!-- If Errors -->
        <p class="centered" v-if="check_form == 'item_error'">Veuillez cliquer sur un item pour le modifier <br> ou sur le bouton pour en ajouter</p>
        <p class="centered" v-if="check_form == 'miss_informations'">Des informations sont manquantes</p>
        <!-- End Errors -->
        <v-touch class="save_article button btn_orange" @tap="edit_item" :class="[ check_form ? 'disabled': '' ]">
            <p>Enregistrer l'article</p>
        </v-touch>
    </div>
</template>

<script>
export default {
    name: 'Edit_article',
    props: [ 'item_to_edit', 'item_selected_index' ],
    computed: {
        // Calc the price with the data that we have
        total_price: function () {
            if (this.new_tva !== '' || this.new_price !== '') {
                return parseFloat(((this.new_tva / 100) * this.new_price) + Number(this.new_price)).toFixed(2)
            } else {
                return '00.00'
            }
        },
        check_form: function(){
            if (this.item_selected_index === -1) {
                return 'item_error'
            } else if (this.new_name === '' || this.new_price === '' || this.new_tva === '') {
                return 'miss_informations'
            }
        }
    },
    data: () => ({
        new_name: '',
        new_price: 0.00,
        new_tva: 0.00
    }),
    watch: {
        item_to_edit: function(newVal, oldVal) { // watch it
            if (newVal == undefined) {
                this.new_name = '',
                this.new_price = 0.00,
                this.new_tva = 0.00
            } else {
                this.new_name = newVal.values.name,
                this.new_price = newVal.values.price,
                this.new_tva = newVal.values.tva
            }
        }
    },
    methods: {
        // I'll use some Emit to send the data to the store's component parent
        edit_item: function(){
            var edited_item = {
                delete_state: false,
                id: this.item_selected_index,
                values: {
                    name: this.new_name,
                    price: this.new_price,
                    tva: this.new_tva
                }
            };
            // Differents emits, functions are in the store views
            if (this.item_to_edit == undefined) {
                this.$emit('store_item', edited_item)
            } else {
                this.$emit('edit_item', edited_item)
            }
            // Reset the datas
            this.new_name = '',
            this.new_price = 0.00,
            this.new_tva = 0.00
        }
    }
}
</script>
