<template>
  <section id="app">
    <div class="logo">
        <img alt="Vue logo" src="./assets/logo-baseline.png">
    </div>
    <Store/>
</section>
</template>

<script>
import Store from './views/Store.vue'

export default {
  name: 'App',
  components: {
    Store
  }
}
</script>
