// I like to work with this 'init.scss' file

// Some vars. There's not enough to create another file.
$white: #FFFFFF;

$main_grey: #727F8F;
$gris_1: #F5FAFF;
$gris_2: #D5DDE5;
$gris_3: #B8C1CC;

$red: #FE5050;
$orange: #FF916F;
$orange_lighten: #FFE0D6;
$orange_darken: #CF6C4E;

// Import some basics styles
@import "./basics/style.scss";
@import "./basics/fonts.scss";
@import "./basics/responsive.scss";

// Import components
@import "./components/logo.scss";
@import "./components/bars.scss";
@import "./components/inputs.scss";
@import "./components/button.scss";
